/* Global Definitions */
body {
    margin:0;
    padding:0;
    background-color:#003300;
}

h1 {
    background:#FFF url('/images/h1_bkgd.gif') top left no-repeat;
    margin: 0;
    padding: 10px;
    height: 27px;
    font-size: 14pt;
    color: #FFF;
    font-weight: normal;
    letter-spacing: .05em;
    word-spacing: .15em;
}

h2 {
    height: auto;
    background:transparent url('/images/nav_bkgd.gif') top left;
    color:#003300;
    font-size: 14pt;
    padding: 7px 12px;
    border: 1px solid #003300;
}

p { 
    text-indent: 20px
}

body,
table,
table tr,
table tr td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

/* Layout Element Styles */
#container {
    margin:0 auto;
    padding: 5px 0px;
    width: 900px;
    background-color:#FFF;
}

#header {
    display:block;
    height: 105px;
}

#logo {
    margin-top: 20px;
    margin-left: 50px;
}

.top_nav {
    margin:0;
    padding:0;
    display: block;
    background:transparent url('/images/nav_bkgd.gif') top left;
    width:100%;
    height: 38px;
}

#nav {
    margin: 0;
    padding: 0;
    display: table;
    list-style: none;
    width: auto;
}

#nav li {
    display: table-cell;
    font-size: 12pt;
    font-weight: bold;
    color: #003300;
    padding: 10px;
    letter-spacing: 0em;
    text-align: left;
}

#nav li:hover {
    background: transparent url('/images/nav_hover.gif') top left no-repeat;
}

#nav li a.current {
    color:#FFF;
    background: transparent url('/images/nav_hover.gif') top left no-repeat;
}

#nav li a,
#nav li a:link,
#nav li a:active,
#nav li a:visited {
    margin:0;
    color: #003300;
    text-decoration:none;
}

#nav li:hover a,
#nav li:hover a:link,
#nav li:hover a:active,
#nav li:hover a:visited {
    color:#FFF;
}

#content {
    padding-top: 10px;
    padding-bottom: 20px;
}

#footer {
    background:#003300 url('/images/footer_bkgd.gif') top left no-repeat;
    width:900px;
    height:50px;
    margin:0 auto;
    font-size:8pt;
    color:#666666;
    text-align: center;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}